/**
 * Update plugin message style
 *
 * @author ilGhera
 * @package wc-restaurant-booking/css
 * @version 0.0.9
 */

span.wprb-alert {
	display: block;
	margin: 1rem 0 0;
	padding: 0.6rem;
	background: #F2DEDE;
	border-radius: 0.2rem;
	color: #a94442;	
}

span.wprb-alert a {
	color: #a94442;	
	text-decoration: underline;
}
