/**
 * Style Sheet
 *
 * @author ilGhera
 * @package wc-restaurant-booking/css
 * @version 0.0.9
 */

.padding-2 {
	padding: 20px;
}

.wprb-booking-button {
	/*box-shadow: 2px 0px 10px 1px #fff;*/
	display: inline-block;
	padding: 2px 20px; 
	background: #f5b016;
	border-radius: 5px;
	cursor: pointer;
    pointer-events: auto;
    z-index: 999999;
}

.wprb-booking-button.top {
	position: fixed;
	top: 1rem;
}

.wprb-booking-button.left {
	left: 1rem;
}

.wprb-booking-button.right {
	right: 1rem;
}

.wprb-booking-button.admin-bar {
	top: 3rem;	
}

.wprb-booking-button:hover {
	webkit-filter: brightness(110%);
	filter: brightness(110%);
}

.wprb-booking-button a,
.wprb-booking-button a:hover {
	color: #fff !important;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.8;
}

.jquery-modal.blocker.current {
	z-index: 999999;
}

#wprb-booking-modal {
	padding: 0 0 20px;
	width: 320px;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	word-wrap: normal;
	z-index: 9999999;
}

#wprb-booking-modal h2 {
	text-align: center;
	background: #f5b016;
	margin: 0;
	padding: 1rem;
	color: #fff;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.booking-label {
	font-weight: bold;
}

.left-20 {
	padding-top: 4px;
	float: left;
	width: 20%;
}

#wprb-booking-modal .header-bar {
	display: block;
	background: #f5b016;
	min-height: 100px;
}

#wprb-booking-modal ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

#wprb-booking-modal ul li {
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}

.header-bar_steps li:first-child::before {
	content: '';
	display: none;
}

.header-bar_steps li::before {
	content: '';
	position: absolute;
	top: 20px;
	left: -15px;
	width: 30px;
	height: 2px;
	background: #000;
	opacity: 0.3;
}

#wprb-booking-modal ul li span {
	text-align: center;
	background-color: #f5b016;
	width: 44px;
	height: 44px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 0.5rem;
	opacity: 0.5; 
}

#wprb-booking-modal ul li.active span {
	opacity: 1;
	background-color: #fff;
	border: 2px solid #f0a417;
	cursor: pointer;
}

#wprb-booking-modal ul li i {
	font-size: 24px; 
	padding-top: 8px;
}

#wprb-booking-modal ul li {
	font-size: 13px;
	text-transform: capitalize;
}

.booking-step {
	display: none;
}

.booking-step.active {
	display: block;
}

p.wprb-step-description {
	text-align: center;
	font-weight: bold;
	color: #
}

p.wprb-step-description.last-minute {
	margin-top: 2.5rem;
	margin-bottom: 0;
}

.people-container {
	opacity: 0.3;
}

.people-container.active {
	opacity: 1;
}

#wprb-booking-modal ul.booking-people_numbers {
	margin: 0;
	padding: 0 0 2rem;
	float: right;
}

#wprb-booking-modal ul.booking-people_numbers li {
	width: auto;
	margin-left: 10px;
}

.people .value {
	display: inline;
	padding-right: 2px;
}

.booking-people_numbers__number input[type="button"] {
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: #fff !important;
	border-radius: 50% !important;
	border: 1px solid #cdcdcd !important;
	font-size: 10px !important; 
	font-weight: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.booking-people_numbers__number input[type="button"]:hover,
.booking-people_numbers__number input[type="button"].active {
	background: #f5b016 !important;
	color: #fff; 	
}

.booking-people_numbers__number:last-child {
	position: relative;
	width: 55px;
	height: 30px;
	transition: all 0.1s linear;
}

.booking-people_numbers__number:last-child::after{
	border-top: 5px solid #f8b333;
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 13.5px;
	right: 10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-radius: 0;
	z-index: 1;
	pointer-events: none;
}

.booking-people_numbers__number select {
	outline: none;
	box-shadow: none;
	position: relative;
	width: 56px;
	height: 100%;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 15px;
	padding: 0 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
}

.booking-people_numbers__number.active select {
	background: #f5b016;
	color: #fff;
}

.booking-people_numbers__number.active::after {
	border-top: 5px solid #fff;
}

.booking-date {
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d7d7d7;
}

.booking-date .datepicker {
	margin: 0 auto;
}

.booking-hours ul {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.booking-hours ul.last-minute {
	height: 80px;
}

.last-minute-text {
	text-align: center;
	color: #cdcdcd;
}

.last-minute-text a {
	text-decoration: underline;
}

.booking-hours ul li {
	width: 25%;
	text-align: center;
}

.booking-hours ul li input {
	border: 1px solid #cdcdcd; /*temp*/
	box-shadow: none;
	width: 90%;
	height: 30px;
	margin-bottom: 8px;
	padding: 0;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border-radius: 20px;
	font-size: 12px;
	font-weight: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	color: #212121;
}

.booking-hours ul.last-minute li input {
	border-color: #f5c6cb;
	box-shadow: none;
	width: 90%;
	height: 30px;
	margin-bottom: 8px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #f8d7da;
	border-radius: 20px;
	font-size: 12px;
	text-align: center;
	color: #721c24;
}

.booking-hours ul li.not-available input:hover,
.booking-hours ul li.not-available input.active {
	color: inherit;
	background: inherit;
}

.booking-hours ul li.not-available {
	opacity: 0.4;
}

.booking-hours ul li.not-available input {
	cursor: default;
}

.booking-hours ul li input:hover,
.booking-hours ul li input.active {
	color: #fff;
	background: #f5b016;
}

.wprb-external-container {
	display: none;
	margin: 2rem 0; 
	text-align: center;
}

.wprb-external-container a {
	display: inline-block;
	width: 58px;
	border: 1px solid #cdcdcd;
	color: inherit;
	padding: 0.5rem 0;
	margin: 0 3px; 
}

.wprb-external-container a.only {
	width: auto;
	padding: 0.5rem 1rem;
	margin: 0; 
}

.wprb-external-container a:hover,
.wprb-external-container a.active {
	color: #fff;
	background: #cdcdcd; 
	text-decoration: none;
	cursor: pointer;
}

#wprb-reservation input {
	border: 1px solid #cdcdcd;
	outline: none;
	box-shadow: none;
	width: 100%;
	height: 40px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color:#fff;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	color: #212121;	
	margin-bottom: 10px;
}

#wprb-reservation input.error {
	border: 1px solid red;	
}

#wprb-reservation input[type="submit"] {
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.8;
	cursor: pointer;
}

#wprb-reservation input[type="submit"]:hover {
	opacity: 1;
}

#wprb-reservation textarea {
	margin-bottom: 10px;
	padding: 0.8rem;
}

.wprb-confirmation-email {
	color: #888;
	display: block;
	margin: 1.5rem 0;
}

.booking-end .fa-check-circle {
	font-size: 400%;
	color: #f5b016; /*temp*/
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 1000px) {


}
